@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255,255,255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #faf9f5;
  font-family: 'Roboto', sans-serif;

}

.cl-formButtonPrimary {
  font-size: 14px;
  text-transform: none;
  background-color: #32A852;
}
 
.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #32A852;
  opacity: 0.95;
}

.cl-footerActionLink{
  color: #32A852;
}
.cl-footerActionLink:hover,
.cl-footerActionLink:focus,
.cl-footerActionLink:active {
  color: #32A852;
}

.cl-internal-b3fm6y{
  background-color: #32A852;
}

.cl-profileSectionPrimaryButton{
  color: #32A852;
}

.cl-avatarImageActionsUpload{
  color: #32A852;
}

.cl-avatarImageActionsUpload:hover,
.cl-avatarImageActionsUpload:focus,
.cl-avatarImageActionsUpload:active{
  color: #32A852;
}

.cl-badge{
  background-color: #32a8526e;
  color: #1e6a32;
}
.cl-formButtonReset{
  color: #1e6a32;
}

.cl-formButtonReset:hover,
.cl-formButtonReset:active,
.cl-formButtonReset:focus{
  
  background-color: #32a8526e;
}
.cl-internal-17ydaof{
  box-shadow: rgba(115, 33, 0, 0.16) 0px 24px 48px;
}